body{
    background-color: rgb(11, 11, 11);
}

.Weather-main{
    width: 460px;
    min-height: 670px;
    background-color: black;
    color: white;
    margin: 10px auto;
    height: auto;
    border-radius: 10px;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 30px;
    padding-inline: 20px;
    padding-bottom: 10px;
    background-image: url(../../assets/main1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: inset 2px 2px 2px white,  2px 2px 2px white; */
}

.input-div{
    width: 100%;
    /* border: 1px solid rgb(31, 31, 31); */
    background-color: #151515;
    height: 50px;
    border-radius: 25px;
    box-shadow: inset 5px 15px 22px black;
    padding-right: 10px;
    display: flex;
    align-items: center;
   border: 1.5px dotted rgb(215, 212, 212) !important;
   &:hover{
   border: 1px dotted white !important;
   }
}
.input-div input{
    width: 94.5%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 20px;
    color: white;
    filter: drop-shadow(-2px -1px 1px rgb(0, 0, 0));
}
.input-div i{
    /* color: rgb(246, 242, 242); */
    color:  #ff9d00;
    margin-right: 2px;
    font-size: 18px;
    filter: drop-shadow(12px 10px 10px rgb(0, 0, 0));
}

.allinfo-about-input-value{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.allinfo-about-input-value h2{
  margin-bottom: 10px;
  font-size: 30px;
  font-family: "Berkshire Swash", serif;
  letter-spacing: 1px;
}
.allinfo-about-input-value h1{
    font-size: 75px;
    letter-spacing: 2px;
    /* margin-bottom: 20px; */
    font-weight: bolder;
    filter: drop-shadow(7px 3px 2px rgb(41, 41, 41));
    margin-left: 75px;
}

.allinfo-about-input-value p{
    font-size: 19px;
}
.allinfo-about-input-value img{
    width: 75%;
    /* min-width: 240px; */
   height: 300px;
   filter: drop-shadow(0px 0px 20px whitesmoke);
}

.weatherinfo-allofthes{
    width: 100%;
    height: 120px;
    /* background-color: #121212; */
    display: flex;
    justify-content: space-evenly;
    padding-block: 10px;
   border: 1px dotted rgb(101, 101, 101);
   border-radius: 10px;
   margin-top: 20px;
}
.spped-box{
     width: 28%;
     text-align: center;
}
.spped-box img{
    width: 45%;
}

#Rain-box img,#Humidity-box img{
    width: 55%;
}
.spped-box h2{
    font-size: 17px;
    font-weight: bold;
}
.spped-box p{
    font-size: 14px;
    color: #d6d6d6;
    margin-top: 4px;
    font-weight: 400;
}

.ErrMSG{
  color: rgb(255, 191, 0);
   text-align: center;
   margin-top: 15%;
   font-size: 18px;
}

@media(max-width:500px){
    .Weather-main{
        width: 100%;
        margin-top: 0px;
        min-height: 100vh;
        padding-top: 12px;
    }

     .allinfo-about-input-value{
        margin-top: 40px;
     }

    .allinfo-about-input-value img {
        width: 80%;
        height: 280px;
    }
    .weatherinfo-allofthes{
        margin-top: 0;
    }
}